<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sys.managesys.common.mapper.UserMapper">
    <select id="findByLoginId" resultType="UserDto">
        SELECT
            *
        FROM TB_USER
        WHERE LOGIN_ID = #{loginId}
    </select>

    <select id="findByUserId" resultType="UserDto">
        SELECT
            *
        FROM TB_USER WHERE USER_ID = #{userId}
    </select>

    <select id="selectAllUsers" parameterType="com.sys.managesys.common.dto.UserDto" resultType="com.sys.managesys.common.dto.UserDto">
        SELECT
        U.USER_ID AS userId,
        U.LOGIN_ID AS loginId,
        U.USER_NAME AS userName,
        U.DEPT_ID AS deptId,
        D.DEPT_NAME AS deptName,
        U.USER_ROLE AS userRole,
        U.IS_LEADER AS isLeader,
        U.USE_YN AS useYn,
        U.CREATED_AT AS createdAt
        FROM TB_USER U
        LEFT JOIN TB_DEPARTMENT D ON U.DEPT_ID = D.DEPT_ID
        WHERE 1=1
        <if test="loginId != null and loginId != ''">
            AND U.LOGIN_ID LIKE CONCAT('%', #{loginId}, '%')
        </if>
        <if test="userName != null and userName != ''">
            AND U.USER_NAME LIKE CONCAT('%', #{userName}, '%')
        </if>
        <if test="deptName != null and deptName != ''">
            AND D.DEPT_NAME LIKE CONCAT('%', #{deptName}, '%')
        </if>
        <if test="userRole != null and userRole != ''">
            AND U.USER_ROLE = #{userRole}
        </if>
        <if test="useYn != null and useYn != ''">
            AND U.USE_YN = #{useYn}
        </if>
        ORDER BY U.CREATED_AT DESC
    </select>

    <insert id="insertUser" parameterType="com.sys.managesys.common.dto.UserDto">
        INSERT INTO TB_USER (
        LOGIN_ID, PASSWORD, USER_NAME, DEPT_ID, USER_ROLE, IS_LEADER, USE_YN, CREATED_AT
        ) VALUES (
        #{loginId}, #{password}, #{userName}, #{deptId}, #{userRole}, #{isLeader}, #{useYn}, NOW()
        )
    </insert>

    <update id="updateUser" parameterType="com.sys.managesys.common.dto.UserDto">
        UPDATE TB_USER
        <set>
            <if test="userName != null">USER_NAME = #{userName},</if>
            <if test="deptId != null">DEPT_ID = #{deptId},</if>
            <if test="userRole != null">USER_ROLE = #{userRole},</if>
            <if test="password != null">PASSWORD = #{password},</if>
            <if test="isLeader != null">IS_LEADER = #{isLeader},</if>
            <if test="useYn != null">USE_YN = #{useYn},</if>
        </set>
        WHERE USER_ID = #{userId}
    </update>

    <delete id="deleteUser" parameterType="long">
        DELETE FROM TB_USER WHERE USER_ID = #{userId}
    </delete>

    <select id="countByLoginId" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM TB_USER WHERE LOGIN_ID = #{loginId}
    </select>

    <select id="selectDepartments" parameterType="string" resultType="map">
        SELECT DEPT_ID as deptId, DEPT_NAME as deptName
        FROM TB_DEPARTMENT
        WHERE USE_YN = 'Y'
        <if test="deptName != null and deptName != ''">
            AND DEPT_NAME LIKE CONCAT('%', #{deptName}, '%')
        </if>
    </select>
</mapper>
