/* 기존 스타일 그대로 유지 */
.dashboard-layout {
    display: flex;
    min-height: 100vh;
    background-color: #f4f7fe;
    font-family: 'Pretendard', sans-serif;
}
.contents-wrap{
    flex: 1;
    padding: 25px 40px;
    overflow-y: auto;
}
.contents{
    height: 750px;
}
.whiteBk{
    background: #fff;
    border-radius: 10px;
    height: 100%;
}